@model IEnumerable<proyectoFinal.Models.veterinario>

@{
    ViewBag.Title = "Index";
}
<div class="container">

        <div class="row letra">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <br />
                <br />
                <center> <h2 class="letra">Gestion de veterinarios</h2></center>

                <p>
                    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-primary" })
                </p>
                <table class="table table-responsive">
                    <tr>
                        <th>
                           Nombre
                        </th>
                        <th>
                           Apellido
                        </th>
                        <th>
                           Dui
                        </th>
                        <th>
                           Telefono 
                        </th>
                        <th>
                            Sexo
                        </th>
                        <th>
                            Direccion
                        </th >
                        <th class="text-center">Acciones</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dui)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sexo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.direccion)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.codVeterinario }, new { @class = "btn btn-primary" }) 
                                @Html.ActionLink("Detalles", "Details", new { id = item.codVeterinario }, new { @class = "btn btn-success" }) 
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.codVeterinario }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>