@model IEnumerable<proyectoFinal.Models.usuario>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row letra">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1">
            <br />
            <br />
            <br />
            <br />
            <center>
                <h2>Gestion de Usuarios</h2>
            </center>
            <p>
                @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table class="table table-responsive">
                <tr>
                    <th>
                        Rol Asignado
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Contraseña
                    </th>
                    <th class="text-center">

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.rol.rol1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pass)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-success" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
