@model proyectoFinal.Models.propietario_Mascota

@{
    ViewBag.Title = "Detalles";
}
<div class="container">
    <div class="row letra">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1">
            <br />
            <br />
            <br />
            <br />
            <h2>Detalles de Propietarios de Mascotas</h2>

            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        <label>Nombre : </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nombre)
                    </dd>

                    <dt>
                        <label>Apellido : </label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.apellido)
                    </dd>

                    <dt>
                        <label>DUI :</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.dui)
                    </dd>

                    <dt>
                        <label>Sexo :</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.sexo)
                    </dd>

                    <dt>
                        <label>Telefono :</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.telefono)
                    </dd>

                    <dt>
                        <label>Direccion :</label>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.direccion)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.codpropietario }, new { @class = "btn btn-success" })
                @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-primary" })
            </p>

        </div>
    </div>
</div>
    </div>
</div>
